[submodule "frontend/apps/commercial"]
	path = frontend/apps/commercial
	url = git@github.com:veighnsche/rbee-commercial-private.git

[submodule "frontend/apps/admin"]
	path = frontend/apps/admin
	url = git@github.com:veighnsche/rbee-admin.git
