[submodule "frontend/apps/commercial"]
	path = frontend/apps/commercial
	url = git@github.com:veighnsche/rbee-commercial-private.git

[submodule "frontend/apps/admin"]
	path = frontend/apps/admin
	url = git@github.com:veighnsche/rbee-admin.git
[submodule "deps/candle"]
	path = deps/candle
	url = git@github.com:veighnsche/candle.git
	branch = rocm-support
[submodule "deps/rocm-rs"]
	path = deps/rocm-rs
	url = git@github.com:veighnsche/rocm-rs.git
	branch = candle-integration
[submodule "deps/ug"]
    path = deps/ug
    url = git@github.com:veighnsche/ug.git
    branch = rocm-support